table{
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word; //表格固定布局
}

td {
    border: 1px solid #000000;
    /*允许在单词内换行。*/
    word-break: break-word;
    /*设置宽度*/
    width: 100px;
}

.childFrame{
    min-width: 50%;
    width: max-content;
}